
@{
    ViewData["Title"] = "Index";
}

<h2 class="justify-content-center">Welcome to the administrative area of the app.</h2>
<hr class="hr-2 bg-eventure" />
<div class="row">
    <div class="col-md-4">
        <div class="card">
            <div class="card-header">
                Roles
            </div>
            <div class="card-body">
                <h5 class="card-title">This section is for controlling the roles of the users.</h5>
                <p class="card-text">You can promote promote users to admins or demote them to normal users. You cannot demote yourself.</p>
                <a href="/Administration/Users/Roles" class="btn btn-primary">Enter section</a>
            </div>
        </div>
    </div>
</div>
<hr class="hr-2 bg-eventure" />
