@{
    ViewData["Title"] = "Error";
}

<div class="text-center">
    <h2>Do not tamper with my App, smartass!</h2>
</div>
<div class="text-center">
    <a class="bg-eventure" href="/Events/All">Go back and behave!</a>
</div>

